---
kind: Secret
apiVersion: v1
metadata:
  name: dayu-docker-alpha
  namespace: default
data:
  .dockerconfigjson: eyJhdXRocyI6eyJxaWFueGluLWRvY2tlci1hbHBoYS1kYXl1LmFmLWJpei5xaWFueGluLWluYy5jbiI6eyJ1c2VybmFtZSI6ImRheXUtYnVpbGQiLCJwYXNzd29yZCI6IjFMTUptSnc3R0tQck9iRksiLCJhdXRoIjoiWkdGNWRTMWlkV2xzWkRveFRFMUtiVXAzTjBkTFVISlBZa1pMIn19fQ==
type: kubernetes.io/dockerconfigjson
---
kind: Secret
apiVersion: v1
metadata:
  name: dayu-docker-beta
  namespace: default
data:
  .dockerconfigjson: eyJhdXRocyI6eyJxaWFueGluLWRvY2tlci1iZXRhLWRheXUuYWYtYml6LnFpYW54aW4taW5jLmNuIjp7InVzZXJuYW1lIjoiZGF5dS1idWlsZCIsInBhc3N3b3JkIjoiMUxNSm1KdzdHS1ByT2JGSyIsImF1dGgiOiJaR0Y1ZFMxaWRXbHNaRG94VEUxS2JVcDNOMGRMVUhKUFlrWkwifX19
type: kubernetes.io/dockerconfigjson
---
kind: Secret
apiVersion: v1
metadata:
  name: dayu-docker-alpha
  namespace: kube-system
data:
  .dockerconfigjson: eyJhdXRocyI6eyJxaWFueGluLWRvY2tlci1hbHBoYS1kYXl1LmFmLWJpei5xaWFueGluLWluYy5jbiI6eyJ1c2VybmFtZSI6ImRheXUtYnVpbGQiLCJwYXNzd29yZCI6IjFMTUptSnc3R0tQck9iRksiLCJhdXRoIjoiWkdGNWRTMWlkV2xzWkRveFRFMUtiVXAzTjBkTFVISlBZa1pMIn19fQ==
type: kubernetes.io/dockerconfigjson
---
kind: Secret
apiVersion: v1
metadata:
  name: dayu-docker-beta
  namespace: kube-system
data:
  .dockerconfigjson: eyJhdXRocyI6eyJxaWFueGluLWRvY2tlci1iZXRhLWRheXUuYWYtYml6LnFpYW54aW4taW5jLmNuIjp7InVzZXJuYW1lIjoiZGF5dS1idWlsZCIsInBhc3N3b3JkIjoiMUxNSm1KdzdHS1ByT2JGSyIsImF1dGgiOiJaR0Y1ZFMxaWRXbHNaRG94VEUxS2JVcDNOMGRMVUhKUFlrWkwifX19
type: kubernetes.io/dockerconfigjson
