MINIO_ACCESS_KEY={{minio_access_key|default("oZeunXKqdtHmiwQ7")}}
MINIO_SECRET_KEY={{minio_secret_key|default("6MkKhEK8EaNviAYjUCdJEj")}}
MINIO_PROMETHEUS_AUTH_TYPE=public
MINIO_OPTS="--address=:{{minio_service_port}} --config-dir {{minio_install_root}}/etc {{minio_install_root}}/data/stripe01"
