MINIO_ACCESS_KEY={{minio_access_key|default("oZeunXKqdtHmiwQ7")}}
MINIO_SECRET_KEY={{minio_secret_key|default("6MkKhEK8EaNviAYjUCdJEj")}}
MINIO_PROMETHEUS_AUTH_TYPE=public

MINIO_NODES="{% for dir in minio_pseudo_dir %}http://{{inventory_hostname}}:{{minio_service_port}}{{dir}} {% endfor %}"

MINIO_OPTS="--address=:{{minio_service_port}} --config-dir {{install_data_path}}/minio/etc "

{% if minio_sts_with_etcd == true %}
MINIO_ETCD_PATH_PREFIX={{ minio_etcd_path_prefix|default("minio/") }}

MINIO_ETCD_CLIENT_CERT={{minio_etcd_client_cert}}
MINIO_ETCD_CLIENT_CERT_KEY={{minio_etcd_client_cert_key}}
MINIO_ETCD_ENDPOINTS={% for host in groups['etcd'] %}https://{{host}}:{{hostvars[host]['etcd_service_port']}}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
