#!/bin/bash

PGPASSWORD='{{ hostvars[groups['pg_master'][0]].pg_admin_password }}' {{install_root_path}}/pgsql/server/bin/psql -U postgres -p {{ hostvars[groups['pg_master'][0]].pg_service_port }} -c "SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE datname='xuanji' AND pid<>pg_backend_pid();"

PGPASSWORD='{{ hostvars[groups['pg_master'][0]].pg_admin_password }}' {{install_root_path}}/pgsql/server/bin/psql -U postgres -p {{ hostvars[groups['pg_master'][0]].pg_service_port }} -c "drop database xuanji;"

PGPASSWORD='{{ hostvars[groups['pg_master'][0]].pg_admin_password }}' {{install_root_path}}/pgsql/server/bin/psql -U postgres -p {{ hostvars[groups['pg_master'][0]].pg_service_port }} -c "create database xuanji;"