[Unit]
Description=Redis persistent key-value database
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/redis-server {{redis_config_dir}}/redis_{{port}}.conf --supervised systemd
ExecStop=/usr/libexec/redis-shutdown redis_{{port}}
#ExecStartPost=/usr/bin/taskset -cp {{port|int - redis_cluster_port|int}} $MAINPID
Type=notify
User={{app_user}}
Group={{app_group}}
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
